.thay-doi-gia-dich-vu-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.thay-doi-gia-dich-vu-popup-container{
    place-self: center;
    width: max(25vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.thay-doi-gia-dich-vu-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.thay-doi-gia-dich-vu-popup-title h2{
    font-size: 25px;
}

.thay-doi-gia-dich-vu-popup-title .close{
    width: 16px;
    cursor: pointer;
}

.thay-doi-gia-dich-vu-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px
}

.thay-doi-gia-dich-vu-popup-inputs input,
.thay-doi-gia-dich-vu-popup-inputs select{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.thay-doi-gia-dich-vu-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: var(--blue);
    font-size: 15px;
    cursor: pointer;

}

.thay-doi-gia-dich-vu-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.thay-doi-gia-dich-vu-popup-container .capNhat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.thay-doi-gia-dich-vu-popup-container .capNhat button{
    width: 100%;
    
}

.thay-doi-gia-dich-vu-popup-container .capNhat .btnXoa{
    background-color: tomato;
}

.thay-doi-gia-dich-vu-popup-condition input{
    margin-top: 5px;
}

.thay-doi-gia-dich-vu-popup p span{
    color: var(--blue);
    font-weight: 500;
    cursor: pointer;
}