.sodo-chuadat-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.sodo-chuadat-popup-container{
    place-self: center;
    width: max(30vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px 50px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.sodo-chuadat-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.sodo-chuadat-popup-title h4{
    font-size: 1.2rem;
    font-weight: 400;
}

.sodo-chuadat-popup-title .close{
    cursor: pointer;
}

.sodo-chuadat-popup-title img{
    width: 16px;
    cursor: pointer;
}

.sodo-chuadat-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px
}

.sodo-chuadat-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
    font-size: 13px;
}
.sodo-chuadat-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;

}

.sodo-chuadat-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.sodo-chuadat-popup-condition input{
    margin-top: 5px;
}

.sodo-chuadat-popup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}

.sodo-chuadat-popup .todo-list{
    width: 100%;
    padding-left: unset;
}

.sodo-chuadat-popup .todo-list li{
    width: 100%;
	background: var(--grey);
	border-radius: 10px;
	padding: 20px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sodo-chuadat-popup .todo-list li p{
    margin-bottom: unset;
}

.sodo-chuadat-popup .sodo-chuadat-popup-container .rooms{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 50px;
}

.sodo-chuadat-popup .sodo-chuadat-popup-container .rooms .room{
    width: 100px;
    height: 100px;
    background-color: rgb(246, 245, 245);
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}   

.sodo-chuadat-popup .sodo-chuadat-popup-container .rooms .room .maPhong{
    font-size: 15px;
    margin-bottom: unset;
    color: darkslategray;
}

.sodo-chuadat-popup .sodo-chuadat-popup-container .rooms .room .tang{
    font-size: 12px;
    margin-bottom: unset;
}

.sodo-chuadat-popup .sodo-chuadat-popup-container .rooms .not-clear{
    background-color: rgb(249, 199, 34);
    cursor: no-drop;
    pointer-events: none;
}

.sodo-chuadat-popup .sodo-chuadat-popup-container .rooms .not-avail{
    background-color: rgb(252, 60, 60);
    color: white;
    cursor: no-drop;
    pointer-events: none;
}

.sodo-chuadat-popup .sodo-chuadat-popup-container .price input{
    font-size: 13px;
}

