#content main.phu-thu {
	width: 100%;
	padding: 20px 20px;
    font-size: 14px;
}

#content main .phu-thu-container {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 14px;
	width: 100%;
	color: var(--dark);
}
#content main .phu-thu-container > div {
	border-radius: 10px;
	background: var(--light);
	padding: 14px;
	overflow-x: auto;
}

#content main .phu-thu-container .order,
#content main .phu-thu-container .todo {
	flex-grow: 1;
	flex-basis: 500px;
}

#content main .phu-thu-container .order .head,
#content main .phu-thu-container .todo .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#content main .phu-thu-container .order table,
#content main .phu-thu-container .todo table {
    margin-top: 30px;
	width: 100%;
	border-collapse: collapse;
}
#content main .phu-thu-container .order table th,
#content main .phu-thu-container .todo table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .phu-thu-container .order table td,
#content main .phu-thu-container .todo table td {
	padding: 20px 0;
	cursor: pointer;
} 

#content main .phu-thu-container .order table tr td:first-child,
#content main .phu-thu-container .todo table tr td:first-child {
	padding-left: 26px;
}

#content main .phu-thu-container .order table tr th:first-child,
#content main .phu-thu-container .todo table tr th:first-child {
	padding-left: 26px;
}

#content main .phu-thu-container .order table td img,
#content main .phu-thu-container .todo table td img {
	width: 56px;
	height: 56px;
	border-radius: 5px;
	object-fit: cover;
}

#content main .phu-thu-container .order table tbody tr:hover,
#content main .phu-thu-container .todo table tbody tr:hover {
	background: var(--grey);
}
#content main .phu-thu-container .order table tr td .status,
#content main .phu-thu-container .todo table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}



