#content main.cap-nhat-nhan-vien {
	width: 100%;
	padding: 20px 20px;
    font-size: 14px;
}

#content main .cap-nhat-nhan-vien-container {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 14px;
	width: 100%;
	color: var(--dark);
}
#content main .cap-nhat-nhan-vien-container > div {
	border-radius: 10px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}

#content main .cap-nhat-nhan-vien-container .order {
	flex-grow: 1;
	flex-basis: 700px;
}

#content main .cap-nhat-nhan-vien-container .order .head {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: 15px;
}

#content main .cap-nhat-nhan-vien-container .order form{
    width: 1024px;
    padding: 20px 50px;
    margin: auto;
    height: 520px;
}

#content main .cap-nhat-nhan-vien-container .order form .image-preview img{
    margin: 10px 0;
    width: 120px;
}

#content .cap-nhat-nhan-vien .cap-nhat-nhan-vien-container .order form button{
    margin: 0 8px;
}

