.orderContainer {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

.orderWrapper {
    width: 1024px;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.orderResult{
    width: 100%;
}




